<div class="container">
  <a routerLink="/"><img class="arrow-back" src="../../../assets/img/arrow-back.png" alt="arrow-back"></a>
  <header>
    <h2>Wie viele Äpfel siehst du?</h2>
    <h2 id="score">Punktestand: {{score}}</h2>
  </header>

  <div id="content">
    <div class="apple-container">
      @for (apple of apples; track apple) {
      <img [src]="apple" class="apple-image" alt="Apfel" />
      }
    </div>
  </div>
  <div class="buttons">
    <button id="1" (click)="checkApplesRightOrWrong(1)">1</button>
    <button id="2" (click)="checkApplesRightOrWrong(2)">2</button>
    <button id="3" (click)="checkApplesRightOrWrong(3)">3</button>
    <button id="4" (click)="checkApplesRightOrWrong(4)">4</button>
    <button id="5" (click)="checkApplesRightOrWrong(5)">5</button>
    <button id="6" (click)="checkApplesRightOrWrong(6)">6</button>
  </div>
</div>