.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 72px;
}

#content {
  height: calc(100vh - 47px);
  width: 100%;
}

.apple-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.apple-image {
  width: 10%;
  filter: drop-shadow(0 0 2px black);
  animation: apple-bounce 1.4s ease-in-out infinite;
}

@keyframes apple-bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.apple-image:nth-child(1) {
  animation-delay: 0s;
}
.apple-image:nth-child(2) {
  animation-delay: 0.1s;
}
.apple-image:nth-child(3) {
  animation-delay: 0.2s;
}
.apple-image:nth-child(4) {
  animation-delay: 0.3s;
}
.apple-image:nth-child(5) {
  animation-delay: 0.4s;
}
.apple-image:nth-child(6) {
  animation-delay: 0.5s;
}

.buttons {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.wrong {
  background-color: red;
  color: white;
}

.greyed {
  background-color: rgba(0, 0, 0, 0.1);
}

.right {
  background-color: green;
  color: white;
}

#score {
  text-align: center;
}

.btn-level {
  padding: 40px 80px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.highscore {
  font-size: 72px;
}
