* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-none {
  display: none!important;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

body {
  background-color: rgb(144, 238, 144);
}

a {
  color: black;
  text-decoration: none;
}

button {
  padding: 80px 100px;
  margin: 5px;
  border-radius: 15px;
  font-size: 64px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 5px black;
  text-shadow: 0 0 2px white;

  &:hover {
    transform: scale(1.1);
  }
}

.arrow-back {
  width: 5%;
  position: absolute;
  left: 20px;
  top: 10px;
  cursor: pointer;
}
