* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-none {
  display: none !important;
}

.blue {
  background-color: #4fc3f7;
}

.orange {
  background-color: #ffb74d;
}

.yellow {
  background-color: #fff176;
}

.purple {
  background-color: #ba68c8;
}

.pink {
  background-color: #f06292;
}

.teal {
  background-color: #4db6ac;
}

body {
  background-color: lightblue;
}

a {
  color: black;
  text-decoration: none;
}

.btn-level {
  padding: 80px 100px;
  margin: 5px;
  border-radius: 15px;
  font-size: 64px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 5px black;
  width: 500px;
  height: 300px;

  &:hover {
    transform: scale(1.1);
  }
}

.menu-button {
  padding: 80px 100px;
  margin: 5px;
  border-radius: 15px;
  font-size: 64px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 5px black;
  text-shadow: 0px 0px 5px lightgrey;

  &:hover {
    box-shadow: inset 10px 10px 50px;
  }
}

.arrow-back {
  width: 5%;
  position: absolute;
  left: 20px;
  top: 10px;
  cursor: pointer;
}
